<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title > [[${pageTitle}]] </title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>



<body>
<div class="container-fluid ">
    <h1 class="text-center"> JalKali Water Supply </h1>
    <div class = "container">
        <div class="text-center text-white  bg-dark m-4"> [[${pageTitle}]] </div>
    </div>



    <form th:action="@{/consumer/save}" method="post" th:object="${consumer}"
          style="max-width: 400px; margin:0 auto;">


        <div class="border border-secondary rounded p-3">

            <div class="form-group row">
                <label class="col-sm-4 col-form-label"> Name: </label>
                <div class= "col-sm-8">
                    <label type="text" th:field="*{name}"  class="form-control" >[[${consumer.name}]]</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label"> Contacts: </label>
                <div class= "col-sm-8">
                    <label type="text" th:field="*{contacts}" class="form-control">[[${consumer.contacts}]]</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label"> Email: </label>
                <div class= "col-sm-8">
                    <label type="email" th:field="*{email}" class="form-control">[[${consumer.email}]]</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label"> Province: </label>
                <div class= "col-sm-8">
                    <label type="text" th:field="*{province}" class="form-control">[[${consumer.province}]]</label>
                </div>
            </div>


<!--            <div class="form-group row">-->
<!--                <label class="col-sm-4 col-form-label"> Status: </label>-->
<!--                <div class= "col-sm-8">-->
<!--                    <input type="checkbox" th:field="*{status}" /> Enabled-->
<!--                </div>-->
<!--            </div>-->


            <div class="text-center">
                <button type="button" class="btn btn-secondary m-2" onclick = "cancelForm()"> Back </button>
            </div>
        </div>
    </form>
</div>


<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/consumer/details}]]";
    }

    function checkForm() {

    }

</script>
</body>
</html>