<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title > [[${pageTitle}]] </title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>



<body class="bg-info">
<div class="container-fluid ">
    <h1 class="text-center text-light"> JalKali Water Supply </h1>
    <div class = "container">
        <div class="text-center text-white  bg-dark m-4"> [[${pageTitle}]] </div>
    </div>



<!--    personal info details form-->

    <form class="text-light bg-secondary" th:action="@{/consumer/save}" method="post" th:object="${consumer}"
          style="max-width: 400px; margin-left: 100px;margin-top: 100px;">


        <div class="border border-secondary rounded p-3 ">

            <div class="form-group row">
                <label class="col-sm-4 col-form-label"> Name </label>
                <div class= "col-sm-8">
                    <label th:field="*{name}"  class="form-control" >[[${consumer.name}]]</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label"> Contacts </label>
                <div class= "col-sm-8">
                    <label  th:field="*{contacts}" class="form-control">[[${consumer.contacts}]]</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label"> Email </label>
                <div class= "col-sm-8">
                    <label  th:field="*{email}" class="form-control">[[${consumer.email}]]</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label"> Province </label>
                <div class= "col-sm-8">
                    <label  th:field="*{province}" class="form-control">[[${consumer.province}]]</label>
                </div>
            </div>

<!--    billing info details form-->
            <div class="form-group row">
                <label class="col-sm-4 col-form-label"> Unit </label>
                <div class= "col-sm-8">
                    <label th:field="*{unit}"  class="form-control" >[[${consumer.unit}]]</label>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-sm-4 col-form-label"> Rate </label>
                <div class= "col-sm-8">
                    <label th:field="*{rate}"  class="form-control" >[[${consumer.rate}]]</label>
                </div>
            </div>


            <div class="form-group row">
                <label class="col-sm-4 col-form-label"> Tax: </label>
                <div class= "col-sm-8">
                    <label th:field="*{tax}"  class="form-control" >[[${consumer.tax}]]</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label"> Discount </label>
                <div class= "col-sm-8">
                    <label th:field="*{discount}"  class="form-control" >[[${consumer.discount}]]</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label"> Total Payable </label>
                <div class= "col-sm-8">
                    <label th:field="*{total}"  class="form-control" >[[${consumer.total}]]</label>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2" > Save </button>
                <button type="button" class="btn btn-secondary m-2" onclick = "cancelForm()"> Back </button>
            </div>


        </div>

    </form>



</div>


<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/consumer/details}]]";
    }

    function checkForm() {

    }

</script>
</body>
</html>