<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Water Billing System</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>



<body class="bg-info " >

<!--navigation top-->
<div class="h5 d-flex navbar bg-dark text-light" th:object="${consumer}">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark h5" >
        <!-- Brand -->
        <a class="navbar-brand" th:href="@{/admin/dash}"> Home </a>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/consumer/myinvoice/' + ${consumer.id}}"> Billing </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/consumer/settings/' + ${consumer.id}}"> My Details  </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="ml-auto p-2 flex-row"  th:object="${consumer}">
        <a class=" ml-auto p-2 bd-highlight">
            [[${consumer.name}]]
        </a>
        <a th:href="@{/login}" class="btn btn-info btn-lg ml-auto p-2 bd-highlight">
            Log out
        </a>
    </div>

</div>




<div class="ml-5">
    <h1 class="text-light p-2 "> Welcome to Jalkali Water Limited </h1>
</div>


<!-- ----**************************************************************************---->
<div class="alert alert-success text-center h3" th:if="${message}">
    [[${message}]]
</div>



<!--Showing details form-->



<form  class="bg-secondary p-2 m-5 text-light form-horizontal"  method="post" th:object="${consumer}"
       style="max-width: 800px; ">

    <div class="border border-secondary rounded p-4" style="max-width: 800px; ">



        <h1 class="p-3 h1"> [[${consumer.name}]]  </h1>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label"> Contacts </label>
            <div class= "col-sm-8">
                <input readonly type="text" th:field="*{contacts}" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label"> Email </label>
            <div class= "col-sm-8">
                <input readonly type="email" th:field="*{email}" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label"> Amount Payable (Rs)</label>
            <div class= "col-sm-8">
                <input  readonly th:field="*{total}"  class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label"> Province </label>
            <div class= "col-sm-8">
                <input  readonly th:field="*{province}"  class="form-control" />
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-4 col-form-label"> Active? </label>
            <div class= "col-sm-2">
                <input readonly th:field="*{status}" class="form-control" />
            </div>
        </div>

        <div class=" container text-center">
            <a type="button" class="btn btn-primary text-white border border-secondary rounded "
               th:href="@{'/consumer/myinvoice/' + ${consumer.id}}"> Check Invoice </a>
        </div>
    </div>
</form>

</body>
</html>