<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Water Billing System</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body class="container-fluid text-center">
<h1> Admin Dashboard</h1>
<h1> Welcome to JalKali water supply </h1>
<div class = "container p-5 m-10">
  <a class = " h1 text-center p-3 mb-2 bg-primary text-white border border-secondary rounded p-3" th:href="@{/consumer/details} "> Manage Consumers Details </a>
</div>

</body>
</html>